<h1>Products#index</h1>
<div class="link">
  <%= link_to "new", new_product_path%>
</div>
<div>
  <% @products.each do |product| %>
    <p>
      <%= link_to product.name, product_path(product)%>
    </p>
    <p>
      <%= product.description%>
    </p>
    <p>
      <%= product.formatted_price%>
    </p>
  <% end %>
</div>
