<h1>Products#show</h1>
<p>
  <%= @product.name%>
</p>
<p>
  <%= @product.description%>
</p>
<p>
  <%= @product.formatted_price%>
</p>
<p>
  <%= link_to "remove", product_path(@product), method: :delete %>
</p>
